[Unit]
Description=Python server for Ares CDH Controls
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u /deploy/cdhserv

[Install]
WantedBy=multi-user.target

