[Unit]
Description=ARES MOIST Interface
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u /deploy/moist

[Install]
WantedBy=multi-user.target
